.container{
    display: flex;
    font-family: "M PLUS 1p", sans-serif;
    margin: 1rem 2rem;
    color: #212121;
}
.logo{
    width: 25rem;
    height: 30rem;
   margin: 0 4rem;
}
.container__titleFirst{
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    margin: 0;    
  }
  .container__titleSecond{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0;
  }
  .container__right{
    margin: auto;
    text-align: center;
  }
 .container__greet{
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
 }
 .left-div{
    text-align: center;
    margin: auto;
 }
.inputStyle{
    width: 310px;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: #F8F8F8;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3px;
}
.subStyle{
    width: 310px;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: #D7D7D7;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #767676;
}
.spanStyle{
    font-size: 12px;
    text-align: left;
    color: #767676;
}
